* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* || GENERAL */
:root {
    --footer-height: 15vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #7d7f84;
}

/* || UTILITIES */
.flex {
    display: flex;
}

.center-between {
    justify-content: space-between;
    align-items: center;
}

/* || HEADER */
header {
    background-color: blueviolet;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: calc(100vh - var(--footer-height));
    width: 15vw;
    z-index: 2;
    padding: .8rem 1rem .5rem;
    justify-content: space-between;
    align-items: center;
}

.bigger-logo,
.playlist-nav {
    display: none;
}

header img{
    width: 2rem;
}

.download {
    border-bottom: 1px solid transparent;
}

.download img {
    width: 1.5rem;
}

.profile img{
    background-color: #808080;
    border-radius: 50%;
    height: 2rem;
}

header nav li a:last-child {
    display: none;
}

/* || MAIN */
.banner,
footer {
    background-color: rgb(24, 119, 12);
    height: var(--footer-height);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.banner {
    justify-content: flex-end;
    align-items: center;
}

.main-content {
    background-color: rgb(206, 30, 98);
    margin-left: 15vw;
    padding: var(--footer-height) 0;
}

.main-content nav ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.recently-played,
.for-you,
.popular-artists {
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.recently-played h1 {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row article {
    width: 48%
}

.card-img {
    width: 100%;
    background-color: rgb(255, 208, 80);
    text-align: center;
}

.popular-artists .card-img {
    border-radius: 50%;
}


/* || FOOTER */
footer {
    background-color: rgb(18, 31, 105);
    bottom: 0;
    z-index: 3;
    color: white;
}

.now-playing,
.player-sidebar {
    width: 25%;
}

.now-playing article,
.now-playing ul,
.player-sidebar ul {
    justify-content: center;
    align-items: center;
}

.now-playing ul {
    flex-wrap: wrap;
}

.player {
    width: 35%;
}

.player ul {
    width: 100%;
}

.player a:link,
.player a:visited {
    color: white;
}

.progress-bar {
    background-color: #5a5a5a;
    width: 80%;
    height: .4rem;
    border-radius: 32px;
}

.completion-bar {
    background-color: #c1c1c1;
    width: 25%;
    height: 100%;
    border-radius: 32px;
}

.player-sidebar ul li:last-child {
    width: 60%;
}

/* ! BREAKPOINT */
/*  xs: <  576px 
    s:  >= 576px
    md: >= 768px
    lg: >= 992px
*/

/* ! almeno 576px */
@media screen and (min-width: 576px){
    header {
        align-items: flex-start;
    }

    .smaller-logo {
        display: none;
    }

    .bigger-logo,
    .playlist-nav {
        display: block;
    }

    .logo img{
        width: 100%;
    }

    header nav li a:last-child {
        display: inline-block;
    }

    .download {
        border-color: #717171;
    }
}

/* ! almeno 768px */
@media screen and (min-width: 768px){
    .row {
        width: calc((100% - 2rem) / 2);
        margin-right: .8rem;
    }
}

/* ! almeno 992px */
@media screen and (min-width: 992px){
    .row {
        width: calc((100% - 3rem) / 3);
    }
}